# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Empty folder.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Admin\Desktop\Empty folder\.idea\.idea.Empty folder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
